h3{
    color: chartreuse;
    font-size: 100px;
    background-color: chocolate;
}
p{
    color: black;
}
.t_uppercase{
    text-transform: uppercase;
    color: blue;
}
t.lowercase{
    text-transform: lowercase;
    color: red;
}
.t_capitilize{
    text-transform: capitalize;
    color: green;
}
.t_center{
    text-align: center;
    text-decoration: underline overline line-through;
}
.t_right{
    text-align: right;
}
.t_indent{
    text-indent: 150px;
}
.t_height{
    line-height: 30px;
}
.t_letter{
    letter-spacing: 40px;
    font-style: italic;
}
.t_word_spacing{
    word-spacing: 140;
}
.t_shadow{
 font-size: 40px;
 text-align: center;
 font-style: italic;
 background-color: chartreuse;
 text-shadow: 15px 15px 4px rgb(255, 0, 0);   
}
#heading1{
    color: red
    f0n
}
#hall{
    position: relative;
    width: 100px;
    height: 100px;

}
   /*linear-gradient-example*/
div{
    color: white;
    text-align: center;
    font-size: 50px;
 }
.linear{
    height: 500px;
    border: 2px solid black;
     background: linear-gradient(rgb(255, 204, 0),rgb(0, 0, 0),green,yellow);
     }
     .radial{
        height: 600px;
        border: 2px solid orangered;
        background: radial-gradient(circle at center, rgb(0, 255, 76),orangered,yellow)
        
     }
     .conic{
        height: 500px;
        background: conic-gradient(from 90deg,red,green,yellow,blue);
     }
